POSTGRES_DB_NAME=book2quizdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret_password

MINIO_INTERNAL_URL=http://minio:9000
MINIO_EXTERNAL_URL=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123

PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin